$colorLinkMenu : #e0e0e0;
$colorTextIntro : white;

$backgroundColorButtonDon : #6f2317;
$colorTitle: #6f2317;
$colorLinkDon: white;
$colorLangActive : white;

$backgroundColorHoverMenu : #b2b2b2;
$colorTitleActu : black;
$colorLang : #a19c9d;

$backgroundColorPartenaires : #b5877b;
$backgroundColorButtonProjet : #a8a8a8;

$backgroundColorHamburgerActive :rgba(0, 0, 0, 0.5);
$backgroundColorMenuHamburger : #42120e;
$backgroundColorMenuCache : #d8953d;

$colorFilAriane : #a8a8a8;
