/****SETTTINGS****/
/**COLORS**/
$colorLinkMenu : #e0e0e0;
$colorTextIntro : white;

$backgroundColorButtonDon : #6f2317;
$backgroundColorLinkActiveMovie : #6f2317;
$colorTitle: #e3a558;
$colorLinkDon: white;
$colorLangActive : white;
$backgroundColorTopbar-two: #a5381c;

$backgroundColorHoverMenu : #b2b2b2;
$colorTitleActu : black;
$colorLang : #a19c9d;
$backgroundColorOpacityFooter : black;
$colorFooter: white;
$colorLinkMenuMovie : black;
$colorHoverLinkMovie : white;
$colorWhite : white;
$colorBlack : black;
$colorMenutwo : #9d311b;
$backgroundColorPartenaires : #e8a274;
$backgroundColorDonMovie : #b5877b;
$backgroundColorButtonProjet : #a8a8a8;
$backgroundColorHoverButtonProjet : #c9c9c9;

$backgroundColorHamburgerActive :rgba(0, 0, 0, 0.5);
$backgroundColorMenuHamburger : #42120e;
$backgroundColorMenuCache : #d8953d;

$colorFilAriane : #a8a8a8;
$colorAuthor : #727272;
$borderBlack : black;
$borderWhite: white;
$colorMail : #3690c1;
