/****OBJECTS****/
/**ABOUT**/
.about{
    &__title{
        margin: 1em 0 4em; // 100px 50px (100px)
    }
    &__sous-title{
        margin-top: 1.666666em; // 100px (60px)
    }
    &__texte{
        padding: 0 50px;
    }
    &__image{
        width: 150px;
        height: 100%;
        position: relative;
        left: 41%;
        top: -170px;
        margin : 50px 0 -80px 0;
    }
    &__partie-one{
        margin-bottom: 50px;
        &::after{
            clear: both;
            display: block;
            content: "";
        }
        &__title{
            margin-bottom: 1.666666em; // 50px (30px)
            width: 300px;
            margin: 50px auto;
        }
    }
    &__photos{
        margin-top: 50px;
    }
    &__info{
        display: inline-block;
        width: 300px;
    }
    &__info-name{
        margin-bottom: 30px;
    }
    &__info-mail{
        margin-bottom: 30px;
    }
    &__info + &__info{
        margin-left: 200px;
    }
}
