/****OBJECTS****/
/**ACCUEIL ACTU**/
.head{
    clear: both;
    &__actu{
        width: 89.375em; //1430px
        margin: 0 auto;
        &__title{
            margin : 1em 0; //100px (100px)
        }
        &__blog{
            margin-bottom: 12.5em; //200px
            &__zone{
                display: inline-block;
                &__link{
                    z-index: 1000;
                    display: block;
                    width: 100%;
                    height: 100%;
                    &__container{
                        &__image{
                            width: 29.375em; //470px
                            height: 16.5625em; //265px
                        }
                        &__text{
                            padding: 0.9375em 0; //15px
                        }
                    }
                }
            }
            &__zone + &__zone{
                margin-left: 14.375em; //230px
            }
        }
    }
    &__arrow{
        height: 12.5em; //200px
        position: relative;
        top: -250px;
    }
}
.projet{
    margin: -7.8125em 0 0 0; //-125px 0 100px 0
    padding-bottom: 6.25em; //100px
    &__container{
        width: 89.375em; //1430px
        margin: 0 auto;
        &__title{
            padding : 0.5em 0; //50px (100px)
        }
        &__text{
            padding: 0 12.5em 1.25em; // 0 20px 200px
            margin-bottom: 3.125em; //50px
        }
        &__link{
            margin-left: 34.375em; // 550px
            &__button{
                padding: 0.384615em 1.538461em; //10px 40px (26px)
                &:hover{
                    background-color: $colorTitle;
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
}
.partenaires{
    display: block;
    clear: both;
    margin-bottom: 3.125em; //50px
    position: relative;
    &__title{
        padding: 0.714285em 0;  //50px
        margin-bottom: 0.714285em;  //50px
    }
    &__logo{
        vertical-align: bottom;
        &__sponsor{
            width: 10.625em; //170px
            height: auto;
        }
        &__sponsor + &__sponsor{
            margin-left: 1.875em; //30px
        }
    }
}
