//****OBJECTS****//
//**ARTICLE**//
.article{
    &::after{
        clear: both;
        display: block;
        content: "";
    }
    &__title{
        margin: 1em 0 0.5em; // 100px 50px (100px)
    }
    &__image{
        width: 100%;
        height: 100%;
        margin-bottom: 6.25em; //100px
    }
    &__partie-one{
        &::after{
            clear: both;
            display: block;
            content: "";
        }
        &__title{
            margin-bottom: 1.25em; //100px (80px)
        }
    }
    &__paragraphe{
        vertical-align: top;
        width: 16.666666666em; //500px (30px)
        display: inline-block;
        margin-bottom: 3.333333em; //100px (30px)
        &--float{
            float: right;
        }
    }
}
