/****OBJECTS****/
/**MOVIE**/

.video-container{
    position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.movie{
    max-width: 60.625em; //970px
    margin: 0 auto;
    &::after{
        clear: both;
        display: block;
        content: "";
    }
    &__title{
        margin: 1em 0; //100px (100px)
    }
    &__video{
        display: block;
        max-width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin: 0 50px;
    }

    &__pictures{
        margin-top: 5.8125em; //93px
        &::after{
            clear: both;
            display: block;
            content: "";
        }
        &__title{
            margin-bottom: 1.25em; //50px (40px)
        }
        &__image{
            max-width: 12.5em; //200px
            height: 8.4375em; //135px
        }
        &__image + &__image{
            margin-left: 1.875em; //30px
        }
    }

}
.don{
    margin-top: 50px;
    padding-bottom: 3.125em; //50px
    position: relative;
    height: 16.25em; //260px
    &__title{
        padding-top: 0.625em; //50px (80px)
    }
    &__arrow-one{
        position: absolute;
        left: 30%;
        top: 150px;
    }
    &__button{
        max-width: 18.75em; //300px
        margin: 5em auto; //80px
        padding: 0.9375em 0; //15px 0
    }
    &__arrow-two{
        position: absolute;
        right: 30%;
        top: 150px;
    }
}
