/****OBJECTS****/
/**PROJETS**/

.projets{
    &__title{
        margin-bottom: 1em; //100px (100px)
    }
    &__films{
        width: 970px;
    }
    &__movie{
        display: block;
        width: 100%;
        height: 100%;
        &__image{
            width: 970px;
            height: auto;
        }
        &__container{
            position: relative;
            margin-bottom: 6.25em; //100px
        }
        &__content{
            position: absolute;
            top: 9.375em; //150px
            right: 11.875em; //190px
            z-index: 10;
        }
        &__opacity{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
        }
        &__title{
            width: 6.33333em; //570px (90px)
            padding: 0.222222em; //20px (90px)
            margin-bottom: 0.555555em; // 50px (90px)
            word-wrap: break-word;
        }
        &__link{
            padding-bottom: 0.125em; //5px (40px)
        }
    }
}
