/****OBJECTS****/
/**TOPBAR**/

.topbar{
    height: 100vh;
    position: relative;
    &--other{
        max-height: 40vh;
    }
    &__image{
    }
    &__figure-image{
        width: 150px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    &__lang{
        position: relative;
        right: 475px;
        top: 20px;
        &__detail + &__detail{
            margin-left: 0.625em; //10px
        }
    }
    &__scroll{
        position: absolute;
        left: 45%;
        top: 80%;
        width: 160px;
    }
    &__scroll-text{
        position: absolute;
        left: 50%;
        bottom: 5%;
        color: $colorWhite;
        font-family: 'pwl';
        font-size: 40px;
    }


    &__intro{
        width: 51.875em; //830px
        margin: 9.375em auto; //150px
        &__text{
            margin-bottom: 1.25em; //20px
        }
        &__link{
            &__button{
                padding: 0.5em 0.6666666em; //15px 20px  (30px)
                display: inline-block;
            }
        }
    }

}
