/****OBJECTS****/
/**TOPBAR**/
.topbar{
    height: 100vh;
    position: relative;
    &--other{
        height: 300px;
    }
    &__lang{
        position: relative;
        right: 475px;
        top: 20px;
        &__detail + &__detail{
            margin-left: 0.625em; //10px
        }
    }
    &__scroll{
        position: absolute;
        left: 50%;

    }

    &__nav{
        margin-top: -0.625em; //10px
        &__list{
            &__link{
                padding-bottom: 0.625em; //10px
                &__container{
                    display: inline-block;
                    &__detail{
                        margin-bottom: 0.625em; //10px
                    }
                }
            }
            &__link + &__link{
                margin-left: 3.125em;  //50px
            }

        }
    }
    &__intro{
        width: 51.875em; //830px
        margin: 9.375em auto; //150px
        &__text{
            margin-bottom: 1.25em; //20px
        }
        &__link{
            &__button{
                padding: 0.5em 0.6666666em; //15px 20px  (30px)
                display: inline-block;
            }
        }
    }

}
