/****COMPONENTS****/
/**ABOUT**/
.about{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__sous-title{
        font-size: 3.75em; // 60px
        font-family: 'pwl';
        text-align: left;
        color: $colorTitle;
    }
    &__texte{
        font-size: 1.875em; //30px
        font-weight: 100;
    }
    &__partie-one{
        &__title{
            font-size: 2em; //60px (30px)
            font-family: 'pwl';
            color: $colorTitle;
        }
    }
    &__photos{
        text-align: center;
    }
    &__info-name{
        font-size: 30px;
        color: $colorAuthor;
    }
    &__info-mail{
        color: $colorMail;
        font-size: 30px;
        text-decoration: underline;
    }
    &__paragraphe{
        text-align: left;
        vertical-align: top;
    }
}
