/****COMPONENTS****/
/**ACCUEIL ACTU**/
.head{
    &__actu{
        &__title{
            font-family: 'pwl';
            font-weight: normal;
            font-size: 6.25em; //100px
            text-align: center;
            color: $colorTitle;
        }
        &__blog{
            text-align: center;
            &__zone{
                &__link{
                    text-decoration: none;;
                    &__container{
                        border: 0.0625em solid black; //1px
                        &__text{
                            font-family: 'roboto';
                            font-weight: 300;
                            font-size: 1.875em; //30px
                            text-align: center;
                            color: $colorTitleActu;
                        }
                    }
                }
            }
        }
        &__projet{
            &__container{
                &__title{
                    font-family: 'pwl';
                    font-weight: normal;
                    font-size: 6.25em; //100px
                    color: $colorTitle;
                }
                &__text{
                    font-family: 'roboto';
                    font-weight: 300;
                    font-size: 1.625em; //25px
                }
                &__link{
                    text-decoration: none;
                    &__button{
                        background-color: $backgroundColorButtonProjet;
                        color: $colorTextIntro;
                        font-size: 1.625em; //25px
                        font-family: 'roboto';
                        font-weight: regular;
                        border-radius: 0.625em; //10px
                    }
                }
            }
        }
    }
    &__arrow{
        background: url("../img/flèche.svg") no-repeat center;
    }
}
.partenaires{
    text-align: center;
    &__title{
        font-family: 'pwl';
        font-weight: normal;
        color: $colorTextIntro;
        font-size: 4.375em; //70px
        background-color: $backgroundColorPartenaires;
    }
}
