//****COMPONENTS****//
//**ACTUALITES**//

.actus{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__link{
        text-decoration: none;
        &__content{
            text-align: center;
        }
        &__title{
            word-wrap: break-word;
            font-family: 'pwl';
            color: $colorWhite;
            font-size: 2em; //40px
        }
        &__date{
            font-size: 1.25em; //20px
            font-weight: normal;
            color: $colorWhite;
        }
        &__view{
            text-decoration: none;
            color: $colorWhite;
            font-size: 1.5625em; //25px
            border: 0.0625em solid $colorWhite; //1px
            border-radius: 0.3125em; //5px
            &:hover{
                background-color: $colorWhite;
                color: $colorBlack;
            }
        }
        &__opacity{
            background-color: $colorBlack;
            opacity: 0.5;
        }
    }
}
