//****COMPONENTS****//
//**ACTUALITES**//

.actus{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__link{
        text-decoration: none;
        &__content{
        }
        &__title{
            word-wrap: break-word;
            font-family: 'pwl';
            color: $colorWhite;
            font-size: 1.5em; //24px
            transform: skewX(-10deg);
            background-color: $colorFilAriane;
            padding: 20px 0 20px 20px;
        }
        &__syno{
            margin: 20px 0 0 20px;
            position: relative;
            top: -90px;
            font-size: 1.25em;
            color: $backgroundColorButtonProjet;
            line-height: 1.5em;
            font-weight: lighter;
        }
        &__date{
            font-size: 1.25em; //20px
            font-weight: normal;
            color: $colorWhite;
        }
        &__view{
            color: $colorFilAriane;
            text-decoration: none;
            font-size: 1.5625em; //25px
            border: 0.0625em solid $colorFilAriane ; //1px
            &:hover{
                background-color: $colorFilAriane;
                color: $colorWhite;
            }
        }
    }
}

@media screen and (max-width: 1209px){
    .actus{
        &__title{
            font-size: 5em; // 80px
        }
    }
}

@media screen and (max-width: 1064px) {
    .actus{
        margin: 0 50px;
        &__link{
            &__container{
                text-align: center;
            }
            &__content{
                max-width: 500px;
            }
            &__title{
                position: relative;
                right: 0%;
                top: -120px;
                font-size: 1.25em;
            }
            &__syno{
                position: relative;
                top: -70px;
            }
            &__view{
                position: relative;
                left: 0;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .actus{
        &__title{
            font-size: 2.5em; // 40px
        }
        &__link{
            &__syno{
                position: relative;
                top: -40px;
            }
            &__title{
                font-size: 1em;
                padding: 10px 0 10px 10px;
            }
        }
    }
}
