.ateliers{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
        margin : 1em 0; //100px (100px)
    }
    &__tuto{
        border: 2px solid $backgroundColorHoverButtonProjet;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 100px;
        position: relative;
    }
    &__content{
        display: inline-block;

        &__image{
            width: 400px;
            height: auto;
            margin-right: 30px;
        }
        &__title{
            font-family: 'pwl';
            font-size: 35px;
            position: absolute;
            top: 30px;
            font-weight: bold;
            color: $colorFilAriane;
        }
    }
    &__text{
        width: 300px;
        font-size: 20px;
        font-weight: 100;
        position: relative;
        top: -100px;
        line-height: 1.5em;
        color: $backgroundColorButtonProjet;
    }
    &__link{
        background-color: $colorFilAriane;
        text-decoration: none;
        color: $colorWhite;
        border-radius: 10px;
        font-size: 30px;
        padding: 10px 30px;
        position: absolute;
        bottom: 30px;
        right: 3%;
    }
}
