/****COMPONENTS****/
/**CONTACT**/

.contact{
    max-width: 970px;
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__numero{
        text-align: center;
        margin-top: 100px;
    }
    &__type{
        display: inline-block;
    }
    &__type + &__type{
        margin-left: 200px;
    }
    &__name{
        font-size: 30px;
        margin-bottom: 20px;
        color: $backgroundColorButtonProjet;
        font-family: 'pwl';
        &::before{
            content: url('../img/WhatsApp.png');
        }
    }
    &__tel{
        font-size: 20px;
        color : $colorFilAriane;
        font-weight: lighter;
    }
    &__form{
        text-align: center;
        max-width: 100%;
        height: auto;
    }
    &__bloc{
        display: inline-block;
    }
    &__bloc + &__bloc {
        margin-left: 20px;
    }
    &__form-label{
        background-color: $colorFilAriane;
        color: $colorWhite;
        padding: 15px;
        font-family: $roboto;
    }
    &__form-info{
            max-width: 100%;
            height: auto;
    }
    &__form-detail{
        max-width: 150px;
        margin: 50px 0 30px;
        font-size: 16px;
        padding :17px;
        background-color: $colorGrey;
        color: $colorWhite;
        border: none;
    }
    &__form-message{
        width: 85%;
        font-family: $roboto;
        padding: 20px;
        font-size: 16px;
        background-color: $colorGrey;
        color: $colorWhite;
        border: none;
    }
    &__form-button{
        border: 1px solid $colorFilAriane;
        background-color: $colorWhite;
        color: $backgroundColorButtonProjet;
        font-size: 25px;
        padding: 15px 35px;
        margin: 30px 0;
        float: right;
        position: relative;
        left: -5%;
        &:hover{
            border: 1px solid $colorTransparent;
            background-color: $colorFilAriane;
            color: $colorWhite;
        }
    }
}
@media screen and (max-width: 816px) {
    .contact{
        &__title{
            font-size: 4em; // 80px
        }
        &__bloc{
            display: block;
        }
        &__bloc-info{
            width: 310px;
            margin: 0 auto;

        }
        &__bloc + &__bloc {
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 580px) {
    .contact {
        &__numero{
            padding: 0 20px;
        }
        &__type + &__type{
            margin: 20px 0 0 20px;
        }
    }
}
