/****COMPONENTS***/
/**FOOTER**/
.footer{
    background: url("../img/background-footer.jpg") no-repeat center;
    background-size:cover;
    &__opacity{
        background-color: $backgroundColorOpacityFooter;
        opacity: 0.7;
        color: $colorFooter;
    }
    &__section-one{
        font-family: 'roboto';
        font-size: 12px;
        &__title{
            font-size: 1.875em; //34px
            font-weight: normal;
        }
        &__numero{
            font-size: 1.375em; //22px
            font-weight: 100;
            text-decoration: none;
            color: $colorFooter;
        }
        &__nouvelles{
            font-size: 1.375em; //22px
            font-weight: 100;
            text-decoration: none;
            color: $colorFooter;
            &:hover{
                color: $backgroundColorMenuCache;
            }
        }
        &__link{
            line-height: 1.5em;
            text-decoration: none;
            color: $colorFooter;
            font-weight: 100;
            &:hover{
                color: $backgroundColorMenuCache;
            }
        }
    }
    &__section-two{
        border-top: 0.0625em solid white; //1px
        font-family: 'roboto';
        &__link{
            text-decoration: none;
            &:hover{
                opacity: 0.7;
            }
        }
        &__high{
            text-decoration: none;
            color: white;
            font-size: 0.9375em; //15px
        }
    }
}
@media screen and (max-width: 1008px){
    .footer{
        &__section-one{
            padding: 40px 50px;
            &__title{
                font-size: 1.9375em; //31px
            }
            &__numero, &__nouvelles{
                font-size: 1.1875em;
            }
        }
        &__contact + &__contact{
            margin-left: 5em; //80px
        }
        &__section-two{
            padding: 20px 50px;
        }
    }
}
@media screen and (max-width: 900px){
    .footer{
        &__section-one{
            text-align: center;
            &__contact{
                display: block;
                &--none{
                }
            }
            &__contact + &__contact{
                margin-left: 0;
                margin-top: 20px;
            }
            &__title{
            }
        }
        &__section-two{
            text-align: center;
            &__copyright, &__social, &__back{
                display: block;
                float: none;
                margin-bottom: 20px;
            }
            &__social{
                position: relative;
                top: 0;
                left: 32%;
            }
        }

    }
}
@media screen and (max-width: 600px){
    .footer{
        &__section-two{
            &__social{
                position: relative;
                top: 0;
                left: 25%;
            }
        }
    }
}
@media screen and (max-width: 450px){
    .footer{
        &__section-two{
            &__social{
                position: relative;
                top: 0;
                left: 15%;
            }
        }
    }
}
@media screen and (max-width: 350px){
    .footer{
        &__section-two{
            &__social{
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
}
