/****COMPONENTS****/
/**MOVIE**/
.movie{
    font-family: 'roboto';
    &__content{
        margin: 0 100px;
    }
    &__fiche{
        font-weight: lighter;
        font-size: 20px;
        color: $colorAuthor;
        background-color: $colorGreyTwo;
    }
    &__caption{
        display: none;
    }
    &__row{
        margin: 20px 0;
        &:nth-child(2n+1){
            background-color: $colorGrey;
        }
        &__head{
            padding: 10px 30px 10px 10px;
            text-align: left;
            font-weight: 500;
        }
        &__infos{
            font-size: 18px;
            padding: 10px 0;
        }
    }
    &__title-section{
        font-family: 'pwl';
        font-size: 40px;
        font-weight: bold;
        background-color: $colorFilAriane;
        color: $colorWhite;
        margin: 50px 0;
        padding: 10px 0 10px 20px;
        text-align: center;
        transform: skewX(-10deg);
    }
    &__section-title{
        font-family: 'pwl';
        font-size: 35px;
        font-weight: bold;
        margin: 30px 0;
        color: $colorTitle;
    }
    &__section-text{
        color: $backgroundColorButtonProjet;
        font-size: 20px;
        font-weight: 100;
        line-height: 30px;
    }
    &__section-textWidth{
        color: $backgroundColorButtonProjet;
        font-size: 20px;
        font-weight: 100;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__picture-image{
        max-width: 70%;
    }
    &__section-legend{
        font-weight: 500;
        font-size: 20px;
        color: $colorAuthor;
        margin-top: 10px;

    }


    &__title{
        font-family: 'pwl';
        font-size: 6.25em; //100px
        color: $colorTitle;
        text-align: center;
    }
    &__pictures{
        &__title{
            font-size: 2.5em; //40px
            font-family: 'pwl';
            color: $colorTitle;
        }
        &__plus{
            background-color: $backgroundColorButtonProjet;
            opacity: 0.5;
            &:hover{
                background-color: $backgroundColorHoverButtonProjet
            }
        }
        &__croix{
            text-align: center;
        }
    }
    &__mon-commentaire{
        &__champ{
            font-size: 1.5625em; //25px
            font-weight: lighter;
        }
    }
    &__publier{
        &__text{
            font-size: 1.5265em; //25px
        }
    }
    &__person{
        border-left: 0.0625em solid $borderBlack; //1px
        &__author{
            font-size: 1.875em; //30px
            color: $colorAuthor;
            font-weight: 100;
        }
    }
}
.don{
    background-color: $backgroundColorPartenaires;
    &__title{
        font-family: 'pwl';
        font-size: 5em; //80px
        color: $colorWhite;
        text-align: center;
    }
    &__button{
        background-color: $colorWhite;
        text-align: center;
        border-radius: 0.3125em; //5px
    }
    &__link{
        font-size: 1.5625em; //25px
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-weight: 500;
        font-family: 'roboto';
        color: $colorAuthor;
    }
}
@media screen and (max-width: 1064px){
    .movie{
        &__title{
            font-size: 5em; // 80px
        }
    }
    .don{
        padding-bottom: 1.875em; // 30px
        &__title{
            font-size: 3.75em; // 60px
        }
        &__link{
            font-size: 1.25em; //20px
        }
        &__button{
            padding: 0.625em 0; // 10px 0
            max-width: 15.625em; // 250px
        }
        &__arrow-width{
            max-width: 75%;
            height: auto;
        }
        &__arrow-one{
            position: absolute;
            left: 25%;
            top: 130px;
        }
        &__arrow-two{
            position: absolute;
            right: 25%;
            top: 130px;
        }
    }
}
@media screen and (max-width: 800px) {
    .movie{
        &__content{
            margin: 0 50px;
        }
        &__title-section{
            font-size: 1.875em; // 30px
        }
        &__section-title{
            font-size: 1.5625em; // 25px
        }
        &__section-text{
            font-size: 1.125em; // 18px
        }
        &__section-textWidth{
            font-size: 1.125em; // 18px
        }
        &__fiche{
            font-size: 1.125em; // 18px
        }
        &__section-legend{
            font-size: 1.125em; // 18px
        }
    }
    .don{
        height: 12.5em; // 200px
        &__title{
            font-size: 2.5em; // 50px
        }
        &__arrow-one{
            display: none;
        }
        &__arrow-two{
            display: none;
        }
        &__button{
            margin: 2.5em auto; // 40px
            max-width: 12.5em; // 200px
        }
        &__link{
            font-size: 0.9375em; // 15px
        }
    }
}

@media screen and (max-width: 600px) {
    .movie{
        &__title{
            font-size: 3.75em; // 60px
        }
        &__title-section{
            font-size: 1.5625em; // 25px
        }
        &__section-title{
            font-size: 1.25em; // 20px
        }
        &__section-text{
            font-size: 1em; // 16px
        }
        &__section-textWidth{
            font-size: 1em; // 16px
        }
        &__fiche{
            font-size: 1em; // 16px
        }
        &__section-legend{
            font-size: 0.9375em; // 15px
        }
        &__row{
            &__head{
                padding: 0.3125em 0.9375em 0.3125em 0.3125em; // 5px 15px 5px 5px
            }
            &__infos{
                font-size: 0.875em; // 14px
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .movie{
        &__title{
            font-size: 2.5em; // 40px
        }
        &__title-section{
            font-size: 1.4375em; // 23px
            padding-left: 0;
        }
        &__fiche{
            font-size: 0.875em; // 14px
        }
        &__row{
            &__infos{
                font-size: 0.75em; // 12px
            }
        }
    }
}
