/****COMPONENTS****/
/**MOVIE**/
.movie{
    font-family: 'roboto';
    &__title{
        font-family: 'pwl';
        font-size: 6.25em; //100px
        color: $colorTitle;
        text-align: center;
    }
    &__menu{
        &__link{
            text-decoration: none;
            color: $colorLinkMenuMovie ;
        }
        &__list{
            font-size: 1.4375em; //23px
            font-weight: 100;
            border: 0.0625em solid $borderBlack ; //1px
            border-radius: 0.25em; //4px
            text-align: center;
            &:hover{
                background-color: $backgroundColorLinkActiveMovie;
                color: $colorHoverLinkMovie;
                border: 0.0625em solid $borderWhite; //1px
            }
            &--active{
                background-color: $backgroundColorLinkActiveMovie;
                color: $colorHoverLinkMovie;
                border: 1px solid $borderWhite;
            }
        }
    }
    &__partage{
        text-decoration: none;
        background-color: $backgroundColorButtonProjet ;
        color: $colorWhite;
        border-radius: 0.3125em; //5px
        font-size: 2.0625em; //33px
    }
    &__pictures{
        &__title{
            font-size: 2.5em; //40px
            font-family: 'pwl';
            color: $colorTitle;
        }
        &__plus{
            background-color: $backgroundColorButtonProjet;
            opacity: 0.5;
        }
        &__croix{
            text-align: center;
        }
    }
    &__mon-commentaire{
        &__champ{
            font-size: 1.5625em; //25px
            font-weight: lighter;
        }
    }
    &__publier{
        &__text{
            font-size: 1.5265em; //25px
        }
    }
    &__person{
        border-left: 0.0625em solid $borderBlack; //1px
        &__author{
            font-size: 1.875em; //30px
            color: $colorAuthor;
            font-weight: 100;
        }
    }
}
.don{
    background-color: $backgroundColorDonMovie;
    &__title{
        font-family: 'pwl';
        font-size: 5em; //80px
        color: $colorWhite;
        text-align: center;
    }
    &__button{
        background-color: $colorWhite;
        text-align: center;
        border-radius: 0.3125em; //5px
    }
    &__link{
        font-size: 1.875em; //30px
        text-decoration: none;
        font-weight: 100;
        font-family: 'roboto';
        color: $colorBlack;
    }
}
