/****COMPONENTS***/
/**PROJETS**/
.container{
    font-family: 'roboto';
}
.fil-ariane{
    &__chemin{
        font-size: 1.5625em; //25px
        font-weight: lighter;
    }
    &__link{
        text-decoration: none;
        color: $colorFilAriane;
    }
}
.projets{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__films{
    }
    &__movie{
        text-decoration: none;
        &__container{
            &--one{
                background: url("../img/actu1.jpg") no-repeat center;
                background-size: cover;
            }
            &--two{
                background: url("../img/tongasoa.jpg") no-repeat center;
                background-size: cover;
            }
        }
        &__opacity{
            background-color: $colorBlack;
            opacity: 0.5;
        }
        &__title{
            text-align: center;
            font-family: 'pwl';
            color: $colorWhite;
            font-size: 5.625em; //90px
            border: 0.022222em solid $borderWhite; //2px (90px)
            z-index: 1000;
            opacity: 1;
        }
        &__link{
            text-decoration: none;
            color: $colorWhite;
            font-size: 2.5em; //40px
            border-bottom: 0.0625em solid $borderWhite; //1px
        }
    }
}
