/****COMPONENTS***/
/**PROJETS**/
.container{
    font-family: 'roboto';
}
.fil-ariane{
    &__size{
        width: 300px;
        margin: 1.875em 0 3.125em 0; //30px 0 50px 0
        position: relative;
        left: -10%;
    }
    &__chemin{
        font-size: 1.5625em; //25px
        font-weight: bold;
        font-family: 'pwl';
    }
    &__separator{
        color: $backgroundColorButtonProjet;
    }
    &__link{
        text-decoration: none;
        color: $colorFilAriane;
    }
}
.projets{
    &__title{
        font-size: 6.25em; //100px
        font-family: 'pwl';
        text-align: center;
        color: $colorTitle;
    }
    &__films{
    }
    &__movie{
        text-decoration: none;
        &__container{
        }
        &__opacity{
            background-color: $colorBlack;
            opacity: 0.5;
        }
        &__content{
            text-align: center;
        }
        &__title{
            text-align: center;
            font-family: 'pwl';
            color: $colorWhite;
            font-size: 5.625em; //90px
            border: 0.022222em solid $borderWhite; //2px (90px)
        }
        &__link{
            text-decoration: none;
            color: $colorWhite;
            font-size: 2.5em; //40px
            border-bottom: 0.0625em solid $borderWhite; //1px
        }
    }
}
@media screen and (max-width: 1209px){
.fil-ariane{
    &__size{
        position: relative;
        left: -27px;
    }
}
.projets{
    margin: 0 50px;
    &__title{
        font-size: 5em; // 80px
    }
    &__movie{
        &__content{
            position: absolute;
            top: 30%; //150px
            right: 22%; //190px
        }
        &__title{
            font-size: 4.375em; // 70px
        }
        &__link{
            font-size: 1.875em; // 30px
        }
    }
}

}

@media screen and (max-width: 1064px){
    .fil-ariane{
        &__chemin{
            font-size: 1.25em; // 20px
        }
        &__size{
            position: relative;
            left: 47px;
        }
    }
}
@media screen and (max-width: 975px) {
    .projets{
        &__movie{
            &__content{
                position: absolute;
                top: 30%; //150px
                right: 18%; //190px
            }
            &__container{

            }
        }
    }
}
@media screen and (max-width: 850px) {
    .projets{
        &__title{
            font-size: 3.75em; // 60px
        }
        &__movie{
            &__content{
                position: absolute;
                top: 30%; //150px
                right: 25%; //190px
            }
            &__title{
                font-size: 3.125em; // 50px
            }
            &__link{
                font-size: 1.25em; // 20px
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .projets{
        &__movie{
            &__content{
                position: absolute;
                top: 30%; //150px
                right: 20%; //190px
            }
            &__title{
                font-size: 2.8125em; // 45px
            }
            &__link{
                font-size: 0.9375em; // 15px
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .projets{
        &__movie{
            &__content{
                position: absolute;
                top: 30%; //150px
                right: 20%; //190px
            }
            &__title{
                font-size: 2.5em; // 40px
            }
        }
    }
}
@media screen and (max-width: 510px) {
    .fil-ariane{
        &__size{
            max-width: 150px;
        }
    }
    .projets{
        &__title{
            font-size: 2.5em; //40px
        }
        &__movie{
            &__content{
                position: absolute;
                top: 25%;
                right: 15%;
            }
            &__title{
                font-size: 2.1875em; // 35px
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .projets{
        &__movie{
            &__content{
                position: absolute;
                top: 20%;
                right: 15%;
            }
            &__title{
                font-size: 1.875em; // 35px
                padding: 0.142857em; // 5px (35px)
            }
            &__link{
                font-size: 0.625em; // 10px
            }
        }
    }
}
@media screen and (max-width: 390px) {
    .projets{
        &__title{
            font-size: 1.875em; // 30px
        }
        &__movie{
            &__content{
                position: absolute;
                top: 15%;
                right: 10%;
            }
            &__title{
                margin-bottom: 0.833333em; // 25px (30px)
            }
            &__link{
                font-size: 0.625em; // 10px
            }
        }
    }
}
