/****COMPONENTS****/
/**TOPBAR**/
.topbar{
    background : url("../img/background1.jpg") no-repeat center;
    // opacity: 0.5;
    background-size: cover;
    &--other{
        background: url("../img/background2.jpg") no-repeat center;
        background-size: cover;
    }
    &__lang{
        text-align: center;
        &__detail{
            text-decoration: none;
            font-family: 'roboto';
            font-weight: 300;
            font-size: 1.250em; //20px
            color: $colorLang;
            &--active{
                color: $colorLangActive;
            }
            &:hover{
                color: $colorLangActive;
            }
        }
    }
    &__nav{
        &__list{
            text-align: center;
            &__link{
                text-decoration: none;
                &__container{
                    text-align: center;
                    &__detail{
                        font-size: 1.875em; //30px
                        color: $colorLinkMenu;
                        font-family: 'roboto';
                        font-weight: 300;
                        &--home:before{
                                font-family: 'icomoon';
                                content: "\e922";
                                display: block;

                        }
                    }

                }
                &:hover{
                    border-bottom: 0.1875em  solid $backgroundColorHoverMenu; //3px
                }
                &--active{
                    border-bottom: 0.1875em solid $backgroundColorHoverMenu; //3px
                }
            }
            &__logo{
                text-decoration: none;
            }
        }
    }
    &__intro{
        text-align: center;
        &__text{
            font-family: 'roboto';
            font-weight: 300;
            font-size: 1.875em; //30px
            color: $colorTextIntro;
            text-align: center;
        }
        &__link{
                text-decoration: none;
            &__button{
                font-size: 1.875em; //30px
                font-family: 'roboto';
                font-weight: normal;
                background-color: $backgroundColorButtonDon;
                color: $colorLinkDon;
                border-radius: 0.333333em; //10px  (30px)
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    &__scroll{

    }
}

//********************MEDIA QUERIES********************//

@media screen and (max-width: 1209px){
    .topbar{
        background-size: cover;
        margin-top: -0.3125em; //5px
        &__lang{
            text-align: center;
            right: 420px;
            &__detail{
                font-size: 1.0625em; //17px
            }
        }
        &__nav{
            &__list{
                margin-top: 1.25em; //20px
                &__link{
                    &__container{
                        &__detail{
                            font-size: 1.6875em; //27px
                        }
                        &__icon{
                            width: 2.1875em; //35px
                            height: 2.1875em; //35px
                        }
                    }
                }
                &__link + &__link{
                    margin-left: 2.5em; //40px
                }
                &__logo{
                    &__image{
                        width: 12.5em; //200px
                        height: 12.375em; //198px
                        margin: 0 4.6875em; // 0 75px
                    }
                }
            }
        }
        &__intro{
            &__text{
                font-size: 1.6875em; //27px
                margin-bottom: 0.9375em; //15px
            }
            &__link{

                &__button{
                    font-size: 1.6875em; //27px
                }
            }
        }
        &__scroll{
            height: 7.5em; //120px
            position: relative;
            top: 50px;
        }
    }
}
@media screen and (max-width: 1064px){
    .topbar{
        max-width: 100%;
	    height: auto;
        &__lang{
            right: 360px;
            &__detail{
                font-size: 0.875em; //14px
            }
        }
        &__nav{

            &__list{
                    margin-top: 2.5em; //40px
                &__link{
                    &__container{
                        &__detail{
                            font-size: 1.5em; //24px
                        }
                        &__icon{
                            width: 1.875em; //30px
                            height: 1.875em; //30px
                        }
                    }
                }
                &__link + &__link{
                    margin-left: 1.875em; //30px
                }
                &__logo{
                    &__image{
                        width: 10.625em; //170px
                        height: 10.5em; //168px
                        margin: 0 4.0625em; // 0 65px
                    }
                }
            }
        }
        &__intro{
            &__text{
                font-size: 1.5em; //24px
                margin-bottom: 0.625em; //10px
            }
            &__link{
                &__button{
                    font-size: 1.5em; //24px
                }
            }
        }
        &__scroll{
            height: 5.625em; //90px
            position: relative;
            top: -50px;
        }
    }
}
@media screen and (max-width: 919px){
    .topbar{
        background-size: cover;
        &__lang{
            right: 305px;
            &__detail{
                font-size: 0.6875em; //11px
            }
        }
        &__nav{
            &__list{
                &__link{
                    &__container{
                        &__detail{
                            font-size: 1.3125em; //21px
                        }
                        &__icon{
                            width: 1.5625em; //25px
                            height: 1.5625em; //25px
                        }
                    }
                }
                &__link + &__link{
                    margin-left: 1.25em; //20px
                }
                &__logo{
                    &__image{
                        width: 8.75em; //140px
                        height: 8.625em; //138px
                        margin: 0 3.4375em; // 0 55px
                    }
                }
            }
        }
        &__intro{
            width: auto;
            &__text{
                font-size: 1.3125em; //21px
            }
            &__link{
                &__button{
                    font-size: 1.3125em; //21px
                }
            }
        }
    }
}
@media screen and (max-width: 775px){
    /** Menu Hamburger **/
    .site-container, .site-pusher{
        height: 100%;
    }
    .site-container{
        overflow: hidden;
    }
    .site-pusher{
        transition-duration: 0.5s;
    }
    .site-content{
        position: absolute;
        top: 66px; /* La hauteur du header */
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
    }
    .with--sidebar .site-pusher {
        transform: translateX(-18.75em); // -300px
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $backgroundColorHamburgerActive;
     }
    /** Menu Hamburger **/
    &__lang{
        right: 305px;
        margin-left: 20px;
    }
    .topbar{
        position: static;
        &--other{
            height: 22.2em; //330px
        }
        &__icon{
            position: relative;
            display: block;
            float: right;
            width: 3.125em; // 50px
            height: 4.125em; // 66px
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 1.25em;
                height: 0;
                left: 15px;
                box-shadow: 0 0.625em 0 0.09375em $backgroundColorMenuHamburger, 0 1em 0 0.09375em $backgroundColorMenuHamburger, 0 1.375em 0 0.09375em $backgroundColorMenuHamburger; //10px 16px 22px
            }
        }
        &__nav{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $backgroundColorMenuCache;
            width: 18.75em; //300px
            transform: translateX(18.75em); //300px
            &__list{
                margin-top: 1.25em; //20px
                &__link{
                    height: 2.5em; //40px
                    text-align: center;
                    line-height: 1.25em; //20px
                    direction: rtl;
                    &__container{
                        display: block;
                        border-bottom: 0.09375em solid white; //1px
                        &__detail{
                            display: inline-block;
                        }
                        &__icon{
                            margin-right: 1.25em; //20px
                        }
                    }
                }
                &__logo{
                    display: none;
                }
            }
        }
        &__intro{
            width: auto;
            position: relative;
            top: 80px;
            &__text{
                font-size: 1.125em; //18px
            }
            &__link{
                &__button{
                    font-size: 1.125em; //18px
                }
            }
        }
        &__scroll{
            height: 3.75em; //60px
            position: relative;
            top: -20px;
        }
    }
}
