@charset "UTF-8";
/* Baobab
 *
 * /sass/style.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 24/04/2016
 */
/* Artiste
 *
 * /sass/settings/_fonts.scss - Global fonts variables & fonts loading
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?uz4f3");
  src: url("../fonts/icomoon.eot?uz4f3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uz4f3") format("truetype"), url("../fonts/icomoon.woff?uz4f3") format("woff"), url("../fonts/icomoon.svg?uz4f3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pwl';
  src: url("../fonts/pwlefthand-webfont.eot");
  src: url("../fonts/pwlefthand-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pwlefthand-webfont.woff2") format("woff2"), url("../fonts/pwlefthand-webfont.woff") format("woff"), url("../fonts/pwlefthand-webfont.ttf") format("truetype"), url("../fonts/pwlefthand-webfont.svg#pwlefthandmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotocondensed-light-webfont.eot");
  src: url("../fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light-webfont.woff") format("woff"), url("../fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/****SETTTINGS****/
/**COLORS**/
.hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: none; }

main {
  clear: both; }

.container__size {
  max-width: 60.625em;
  margin: 0 auto;
  font-family: 'roboto'; }

#wpadminbar {
  display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****OBJECTS****/
/**TOPBAR**/
.topbar {
  height: 100vh;
  position: relative; }
  .topbar--other {
    max-height: 40vh; }
  .topbar__figure-image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .topbar__lang {
    position: relative;
    right: 475px;
    top: 20px; }
    .topbar__lang__detail + .topbar__lang__detail {
      margin-left: 0.625em; }
  .topbar__scroll {
    position: absolute;
    left: 45%;
    top: 80%;
    width: 160px; }
  .topbar__scroll-text {
    position: absolute;
    left: 50%;
    bottom: 5%;
    color: white;
    font-family: 'pwl';
    font-size: 40px; }
  .topbar__intro {
    width: 51.875em;
    margin: 9.375em auto; }
    .topbar__intro__text {
      margin-bottom: 1.25em; }
    .topbar__intro__link__button {
      padding: 0.5em 0.6666666em;
      display: inline-block; }

/****OBJECTS****/
/**FOOTER**/
.footer__section-one {
  max-width: 68.625em;
  margin: 0 auto;
  padding: 2.5em 0; }
  .footer__section-one__contact {
    display: inline-block;
    vertical-align: top; }
  .footer__section-one__contact + .footer__section-one__contact {
    margin-left: 6.25em; }
  .footer__section-one__title {
    margin-bottom: 1.176470em; }
  .footer__section-one__numero {
    display: block; }
  .footer__section-one__numero + .footer__section-one__numero {
    margin-top: 1.25em; }
  .footer__section-one__nouvelles {
    display: block; }
  .footer__section-one__nouvelles + .footer__section-one__nouvelles {
    margin-top: 1.25em; }

.footer__section-two {
  max-width: 51.5em;
  margin: 0 auto;
  border-top: 0.0625em solid white;
  padding-top: 1.25em; }
  .footer__section-two::after {
    clear: both;
    display: block;
    content: ""; }
  .footer__section-two__copyright {
    display: inline-block;
    float: left; }
  .footer__section-two__social {
    display: inline-block;
    width: 14.375em;
    position: relative;
    left: 14%;
    top: -5px; }
  .footer__section-two__link + .footer__section-two__link {
    margin-left: 0.625em; }
  .footer__section-two__logo {
    width: 2.5em;
    height: auto; }
  .footer__section-two__back {
    display: inline-block;
    float: right; }

/****OBJECTS****/
/**ACCUEIL ACTU**/
.head {
  clear: both; }
  .head__actu {
    max-width: 89.375em;
    margin: 0 auto; }
    .head__actu__title {
      margin: 1em 0;
      max-width: 100%; }
    .head__actu__blog {
      margin-bottom: 12.5em; }
      .head__actu__blog__zone {
        display: inline-block; }
        .head__actu__blog__zone__link {
          z-index: 1000;
          display: block;
          width: 100%;
          height: 100%; }
          .head__actu__blog__zone__link__container__image {
            max-width: 100%;
            height: auto; }
          .head__actu__blog__zone__link__container__text {
            padding: 0.5em 0; }
      .head__actu__blog__zone + .head__actu__blog__zone {
        margin-left: 12.5em; }
  .head__arrow {
    height: 12.5em;
    position: relative;
    top: -250px; }

.projet {
  margin: -7.8125em 0 0 0;
  padding-bottom: 6.25em; }
  .projet__container {
    max-width: 89.375em;
    margin: 0 auto;
    position: relative; }
    .projet__container__title {
      padding: 0.5em 0; }
    .projet__container__text {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 3.125em; }
    .projet__container__link {
      position: absolute;
      right: 42.5%; }
      .projet__container__link__button {
        padding: 0.384615em 1.538461em; }
        .projet__container__link__button:hover {
          background-color: #e3a558;
          width: 100%;
          height: 100%; }

.partenaires {
  display: block;
  clear: both;
  margin-bottom: 3.125em;
  position: relative; }
  .partenaires__title {
    padding: 0.714285em 0;
    margin-bottom: 0.714285em; }
  .partenaires__logo {
    vertical-align: bottom; }
    .partenaires__logo__sponsor {
      max-width: 18.75em;
      height: auto; }
    .partenaires__logo__sponsor + .partenaires__logo__sponsor {
      margin-left: 1.875em; }

/****OBJECTS****/
/**PROJETS**/
.projets__title {
  margin-bottom: 1em; }

.projets__films {
  max-width: 970px; }

.projets__movie {
  display: block;
  width: 100%;
  height: 100%; }
  .projets__movie__image {
    max-width: 100%;
    height: auto; }
  .projets__movie__container {
    position: relative;
    margin-bottom: 6.25em; }
  .projets__movie__content {
    position: absolute;
    top: 30%;
    right: 18.25%;
    z-index: 10; }
  .projets__movie__opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; }
  .projets__movie__title {
    width: 6.33333em;
    padding: 0.222222em;
    margin-bottom: 0.555555em;
    word-wrap: break-word; }
  .projets__movie__link {
    padding-bottom: 0.125em; }

/****OBJECTS****/
/**MOVIE**/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0; }

.movie {
  max-width: 60.625em;
  margin: 0 auto; }
  .movie::after {
    clear: both;
    display: block;
    content: ""; }
  .movie__title {
    margin: 1em 0; }
  .movie__video {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 50px; }
  .movie__pictures {
    margin-top: 5.8125em; }
    .movie__pictures::after {
      clear: both;
      display: block;
      content: ""; }
    .movie__pictures__title {
      margin-bottom: 1.25em; }
    .movie__pictures__image {
      max-width: 12.5em;
      height: 8.4375em; }
    .movie__pictures__image + .movie__pictures__image {
      margin-left: 1.875em; }

.don {
  margin-top: 50px;
  padding-bottom: 3.125em;
  position: relative;
  height: 16.25em; }
  .don__title {
    padding-top: 0.625em; }
  .don__arrow-one {
    position: absolute;
    left: 30%;
    top: 150px; }
  .don__button {
    max-width: 18.75em;
    margin: 5em auto;
    padding: 0.9375em 0; }
  .don__arrow-two {
    position: absolute;
    right: 30%;
    top: 150px; }

.pictures {
  width: 60.625em;
  margin: auto; }
  .pictures__title {
    margin-bottom: 0.5em; }
  .pictures__bloc {
    display: inline-block;
    position: relative;
    margin-bottom: 3.125em; }
    .pictures__bloc:nth-child(n+1) {
      margin-left: 4.6875em; }
    .pictures__bloc__image {
      width: 23.125em;
      height: auto; }
    .pictures__bloc__text {
      position: absolute;
      right: 0; }
  .pictures__pagination {
    margin: 3.125em 0;
    max-width: 60.625em; }
  .pictures__link {
    padding: 0 0.333333em; }

.actus {
  max-width: 68.625em;
  margin: 0 auto; }
  .actus__title {
    margin-bottom: 1em; }
  .actus__link__container {
    margin-bottom: 100px; }
  .actus__link__images {
    max-width: 100%;
    height: auto; }
  .actus__link__content {
    display: inline-block;
    max-width: 500px; }
  .actus__link__title {
    position: relative;
    top: -90px;
    right: 20%;
    max-width: 550px; }
  .actus__link__view {
    padding: 0.4em 0.8em;
    position: relative;
    left: 65%; }

.article__image-article {
  max-width: 500px;
  height: auto;
  margin-bottom: 50px; }

.article__title {
  margin-bottom: 0.833333em; }

.article__image {
  width: 100%;
  height: 100%;
  margin: 6.25em 0 1.25em;
  border-radius: 10px; }

.article__partie-one__title {
  margin: 1.25em 0; }

/****OBJECTS****/
/**ABOUT**/
.about__title {
  margin: 1em 0 0.5em; }

.about__sous-title {
  margin-top: 1.666666em; }

.about__image {
  width: 150px;
  height: 100%;
  position: relative;
  left: 40%;
  margin-top: 50px; }

.about__partie-one::after {
  clear: both;
  display: block;
  content: ""; }

.about__partie-one__title {
  margin-bottom: 1.666666em;
  width: 300px;
  margin: 50px auto; }

.about__photos {
  margin-top: 50px; }

.about__info {
  display: inline-block;
  width: 300px; }

.about__info-name {
  margin-bottom: 30px; }

.about__info-mail {
  margin-bottom: 30px; }

.about__info + .about__info {
  margin-left: 300px; }

.about__paragraphe {
  vertical-align: top;
  width: 10em;
  display: inline-block;
  margin: 3.333333em 0; }
  .about__paragraphe--float {
    float: right; }

/****COMPONENTS****/
/**TOPBAR**/
.topbar {
  background: url("../img/background1.jpg") no-repeat center;
  background-size: cover; }
  .topbar--other {
    background: url("../img/background1.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 3.125em; }
  .topbar__lang {
    text-align: center; }
    .topbar__lang__detail {
      text-decoration: none;
      font-family: 'roboto';
      font-weight: 200;
      font-size: 1.250em;
      color: #a19c9d; }
      .topbar__lang__detail--active {
        color: white; }
      .topbar__lang__detail:hover {
        color: white; }
  .topbar__list {
    text-align: center; }
    .topbar__list__detail {
      display: inline-block;
      padding-bottom: 0.625em;
      border-bottom: 0.1875em solid rgba(255, 255, 255, 0); }
      .topbar__list__detail:hover {
        border-bottom: 0.1875em solid #b2b2b2; }
    .topbar__list__detail + .topbar__list__detail {
      margin-left: 3.125em; }
    .topbar__list__link {
      text-decoration: none;
      font-size: 1.875em;
      color: #e0e0e0;
      font-family: 'roboto';
      font-weight: 300;
      display: block;
      width: 100%;
      height: 100%; }
      .topbar__list__link--home::after {
        content: "\e922";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
      .topbar__list__link--projets::after {
        content: "\e923";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
      .topbar__list__link--actu::after {
        content: "\e921";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
      .topbar__list__link--ateliers::after {
        content: "\e91e";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
      .topbar__list__link--propos::after {
        content: "\e91f";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
      .topbar__list__link--contact::after {
        content: "\e920";
        display: block;
        font-family: "icomoon";
        font-size: 1em;
        margin-top: 0.3125em; }
  .topbar__intro {
    text-align: center; }
    .topbar__intro__text {
      font-family: 'roboto';
      font-weight: 300;
      font-size: 1.875em;
      color: white;
      text-align: center; }
    .topbar__intro__link {
      text-decoration: none; }
      .topbar__intro__link__button {
        font-size: 1.875em;
        font-family: 'roboto';
        font-weight: normal;
        background-color: #6f2317;
        color: white;
        border-radius: 0.333333em; }
        .topbar__intro__link__button:hover {
          opacity: 0.7; }

@media screen and (max-width: 1209px) {
  .topbar {
    background-size: cover;
    margin-top: -0.3125em; }
    .topbar__lang {
      text-align: center;
      right: 36%; }
      .topbar__lang__detail {
        font-size: 1.0625em; }
    .topbar__list {
      margin-top: 1.25em; }
      .topbar__list__link {
        font-size: 1.6875em; }
      .topbar__list__link + .topbar__list__link {
        margin-left: 2.5em; }
    .topbar__intro__text {
      font-size: 1.6875em;
      margin-bottom: 0.9375em;
      padding: 0 1.875em; }
    .topbar__intro__link__button {
      font-size: 1.6875em; }
    .topbar__scroll {
      height: 7.5em;
      width: auto;
      position: relative;
      top: 80%; }
    .topbar__scroll-text {
      position: absolute;
      left: 50%;
      font-size: 2.1875em; } }

@media screen and (max-width: 1064px) {
  .topbar {
    max-width: 100%; }
    .topbar__lang {
      right: 35%; }
      .topbar__lang__detail {
        font-size: 0.875em; }
    .topbar__list {
      margin-top: 2.5em; }
      .topbar__list__link {
        font-size: 1.5em; }
      .topbar__list__link + .topbar__list__link {
        margin-left: 1.875em; }
    .topbar__intro__text {
      font-size: 1.5em;
      margin-bottom: 1.25em;
      padding: 0 4.375em; }
    .topbar__intro__link__button {
      font-size: 1.5em; }
    .topbar__scroll {
      height: 5.625em;
      width: auto;
      position: absolute;
      top: 85%; }
    .topbar__scroll-text {
      position: absolute;
      left: 50%;
      font-size: 1.875em; } }

@media screen and (max-width: 919px) {
  .topbar {
    background-size: cover; }
    .topbar__lang__detail {
      font-size: 0.6875em; }
    .topbar__list__link {
      font-size: 1.3125em; }
    .topbar__list__link + .topbar__list__link {
      margin-left: 1.25em; }
    .topbar__intro {
      width: auto; }
      .topbar__intro__text {
        font-size: 1.3125em;
        padding: 0 7.142em; }
      .topbar__intro__link__button {
        font-size: 1.3125em; } }

@media screen and (max-width: 775px) {
  __lang {
    right: 305px;
    margin-left: 20px; }
  .topbar--other {
    height: 22.2em; }
  .topbar__list {
    margin-top: 1.25em; }
    .topbar__list__link {
      height: 2.5em;
      text-align: center;
      line-height: 1.4em;
      direction: rtl; }
  .topbar__intro__text {
    font-size: 1.125em;
    padding: 0 100px; }
  .topbar__intro__link__button {
    font-size: 1.125em; }
  .topbar__scroll {
    height: 3.75em;
    width: auto;
    position: absolute;
    top: 87.5%; }
  .topbar__scroll-text {
    font-size: 25px; } }

@media screen and (max-width: 500px) {
  .topbar__intro {
    margin: 4.8675em 0; }
    .topbar__intro__text {
      padding: 0 50px; }
  .topbar__scroll {
    position: absolute;
    left: 35%; }
  .topbar__scroll-text {
    position: absolute;
    left: 40%; } }

/****COMPONENTS****/
/**ACCUEIL ACTU**/
.head__actu__title {
  font-family: 'pwl';
  font-weight: normal;
  font-size: 6.25em;
  text-align: center;
  color: #e3a558; }

.head__actu__blog {
  text-align: center; }
  .head__actu__blog__zone__link {
    text-decoration: none; }
    .head__actu__blog__zone__link__container {
      border-radius: 10px;
      background-color: #e8a274; }
      .head__actu__blog__zone__link__container__text {
        font-family: 'roboto';
        font-weight: 300;
        font-size: 1.875em;
        text-align: center;
        color: white; }

.head__arrow {
  background: url("../img/flèche.svg") no-repeat center; }

.projet {
  background: url("../img/accueil-projet.jpg") no-repeat center;
  background-size: cover; }
  .projet__container__title {
    font-family: 'pwl';
    font-weight: normal;
    font-size: 6.25em;
    color: #e3a558;
    text-align: center; }
  .projet__container__text {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 1.625em;
    color: white;
    line-height: 1.25em; }
  .projet__container__link {
    text-decoration: none; }
    .projet__container__link__button {
      color: white;
      font-size: 1.625em;
      font-family: 'roboto';
      font-weight: regular;
      border: 1px solid white; }

.partenaires {
  text-align: center; }
  .partenaires__title {
    font-family: 'pwl';
    font-weight: normal;
    color: white;
    font-size: 4.375em;
    background-color: #e8a274; }

@media screen and (max-width: 1209px) {
  .head__actu__title {
    font-size: 5em; }
  .head__actu__blog {
    margin: 0 50px 200px; }
    .head__actu__blog__zone {
      max-width: 100%;
      height: auto;
      display: inline-block; }
    .head__actu__blog__zone + .head__actu__blog__zone {
      margin-left: 50px; }
  .projet__container__title {
    font-size: 5em; }
  .partenaires__title {
    font-size: 5em; } }

@media screen and (max-width: 1120px) {
  .head__actu__blog__zone + .head__actu__blog__zone {
    margin-left: 0;
    margin-top: 50px; } }

@media screen and (max-width: 900px) {
  .projet__container__text {
    font-size: 1.375em;
    margin: 0 2.272727em 2.272727em; }
  .projet__container__link__button {
    font-size: 1.375em;
    padding: 0.227272em 0.909090em; } }

@media screen and (max-width: 700px) {
  .head__actu__title {
    font-size: 3.75em; }
  .head__actu__blog__zone__link__container__text {
    padding: 0.4em 0;
    font-size: 1.5625em; }
  .projet__container__text {
    font-size: 1.125em; }
  .projet__container__title {
    font-size: 3.75em; }
  .projet__container__link {
    position: absolute;
    right: 35%; }
  .partenaires__title {
    font-size: 3.75em; } }

@media screen and (max-width: 671px) {
  .partenaires__logo__sponsor {
    width: 90%; }
  .partenaires__logo__sponsor + .partenaires__logo__sponsor {
    margin-left: 0; } }

@media screen and (max-width: 510px) {
  .head__actu__title {
    font-size: 2.5em; }
  .projet__container__title {
    font-size: 2.5em; }
  .projet__container__link {
    position: absolute;
    right: 30%; }
  .partenaires__title {
    font-size: 2.5em; } }

@media screen and (max-width: 351px) {
  .head__actu__blog__zone__link__container__text {
    padding: 0.25em 0;
    font-size: 1.5625em; }
  .projet__container__link {
    position: absolute;
    right: 20%; } }

/****COMPONENTS***/
/**FOOTER**/
.footer {
  background: url("../img/background-footer.jpg") no-repeat center;
  background-size: cover; }
  .footer__opacity {
    background-color: black;
    opacity: 0.7;
    color: white; }
  .footer__section-one {
    font-family: 'roboto';
    font-size: 12px; }
    .footer__section-one__title {
      font-size: 1.875em;
      font-weight: normal; }
    .footer__section-one__numero {
      font-size: 1.375em;
      font-weight: 100;
      text-decoration: none;
      color: white; }
    .footer__section-one__nouvelles {
      font-size: 1.375em;
      font-weight: 100;
      text-decoration: none;
      color: white; }
      .footer__section-one__nouvelles:hover {
        color: #d8953d; }
    .footer__section-one__link {
      line-height: 1.5em;
      text-decoration: none;
      color: white;
      font-weight: 100; }
      .footer__section-one__link:hover {
        color: #d8953d; }
  .footer__section-two {
    border-top: 0.0625em solid white;
    font-family: 'roboto'; }
    .footer__section-two__link {
      text-decoration: none; }
      .footer__section-two__link:hover {
        opacity: 0.7; }
    .footer__section-two__high {
      text-decoration: none;
      color: white;
      font-size: 0.9375em; }

@media screen and (max-width: 1008px) {
  .footer__section-one {
    padding: 40px 50px; }
    .footer__section-one__title {
      font-size: 1.9375em; }
    .footer__section-one__numero, .footer__section-one__nouvelles {
      font-size: 1.1875em; }
  .footer__contact + .footer__contact {
    margin-left: 5em; }
  .footer__section-two {
    padding: 20px 50px; } }

@media screen and (max-width: 900px) {
  .footer__section-one {
    text-align: center; }
    .footer__section-one__contact {
      display: block; }
    .footer__section-one__contact + .footer__section-one__contact {
      margin-left: 0;
      margin-top: 20px; }
  .footer__section-two {
    text-align: center; }
    .footer__section-two__copyright, .footer__section-two__social, .footer__section-two__back {
      display: block;
      float: none;
      margin-bottom: 20px; }
    .footer__section-two__social {
      position: relative;
      top: 0;
      left: 32%; } }

@media screen and (max-width: 600px) {
  .footer__section-two__social {
    position: relative;
    top: 0;
    left: 25%; } }

@media screen and (max-width: 450px) {
  .footer__section-two__social {
    position: relative;
    top: 0;
    left: 15%; } }

@media screen and (max-width: 350px) {
  .footer__section-two__social {
    position: relative;
    top: 0;
    left: 0; } }

/****COMPONENTS***/
/**PROJETS**/
.container {
  font-family: 'roboto'; }

.fil-ariane__size {
  margin: 1.875em 0 3.125em 0;
  position: relative;
  left: -10%; }

.fil-ariane__chemin {
  font-size: 1.5625em;
  font-weight: bold;
  font-family: 'pwl'; }

.fil-ariane__separator {
  color: #a8a8a8; }

.fil-ariane__link {
  text-decoration: none;
  color: #f2673f; }

.projets__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.projets__movie {
  text-decoration: none; }
  .projets__movie__opacity {
    background-color: black;
    opacity: 0.5; }
  .projets__movie__content {
    text-align: center; }
  .projets__movie__title {
    text-align: center;
    font-family: 'pwl';
    color: white;
    font-size: 5.625em;
    border: 0.022222em solid white; }
  .projets__movie__link {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    border-bottom: 0.0625em solid white; }

@media screen and (max-width: 1209px) {
  .fil-ariane__size {
    position: relative;
    left: -27px; }
  .projets {
    margin: 0 50px; }
    .projets__title {
      font-size: 5em; }
    .projets__movie__content {
      position: absolute;
      top: 30%;
      right: 22%; }
    .projets__movie__title {
      font-size: 4.375em; }
    .projets__movie__link {
      font-size: 1.875em; } }

@media screen and (max-width: 1064px) {
  .fil-ariane {
    width: 300px; }
    .fil-ariane__chemin {
      font-size: 1.25em; }
    .fil-ariane__size {
      position: relative;
      left: 47px; } }

@media screen and (max-width: 975px) {
  .projets__movie__content {
    position: absolute;
    top: 30%;
    right: 18%; } }

@media screen and (max-width: 850px) {
  .projets__title {
    font-size: 3.75em; }
  .projets__movie__content {
    position: absolute;
    top: 30%;
    right: 25%; }
  .projets__movie__title {
    font-size: 3.125em; }
  .projets__movie__link {
    font-size: 1.25em; } }

@media screen and (max-width: 700px) {
  .projets__movie__content {
    position: absolute;
    top: 30%;
    right: 20%; }
  .projets__movie__title {
    font-size: 2.8125em; }
  .projets__movie__link {
    font-size: 0.9375em; } }

@media screen and (max-width: 600px) {
  .projets__movie__content {
    position: absolute;
    top: 30%;
    right: 20%; }
  .projets__movie__title {
    font-size: 2.5em; } }

@media screen and (max-width: 510px) {
  .fil-ariane__size {
    max-width: 150px; }
  .projets__title {
    font-size: 2.5em; }
  .projets__movie__content {
    position: absolute;
    top: 25%;
    right: 15%; }
  .projets__movie__title {
    font-size: 2.1875em; } }

@media screen and (max-width: 450px) {
  .projets__movie__content {
    position: absolute;
    top: 20%;
    right: 15%; }
  .projets__movie__title {
    font-size: 1.875em;
    padding: 0.142857em; }
  .projets__movie__link {
    font-size: 0.625em; } }

@media screen and (max-width: 390px) {
  .projets__title {
    font-size: 1.875em; }
  .projets__movie__content {
    position: absolute;
    top: 15%;
    right: 10%; }
  .projets__movie__title {
    margin-bottom: 0.833333em; }
  .projets__movie__link {
    font-size: 0.625em; } }

/****COMPONENTS****/
/**MOVIE**/
.movie {
  font-family: 'roboto'; }
  .movie__content {
    margin: 0 100px; }
  .movie__fiche {
    font-weight: lighter;
    font-size: 20px;
    color: #727272;
    background-color: #f2f2f2; }
  .movie__caption {
    display: none; }
  .movie__row {
    margin: 20px 0; }
    .movie__row:nth-child(2n+1) {
      background-color: #e0e0e0; }
    .movie__row__head {
      padding: 10px 30px 10px 10px;
      text-align: left;
      font-weight: 500; }
    .movie__row__infos {
      font-size: 18px;
      padding: 10px 0; }
  .movie__title-section {
    font-family: 'pwl';
    font-size: 40px;
    font-weight: bold;
    background-color: #f2673f;
    color: white;
    margin: 50px 0;
    padding: 10px 0 10px 20px;
    text-align: center;
    transform: skewX(-10deg); }
  .movie__section-title {
    font-family: 'pwl';
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0;
    color: #e3a558; }
  .movie__section-text {
    color: #a8a8a8;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px; }
  .movie__section-textWidth {
    color: #a8a8a8;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 30px; }
  .movie__picture-image {
    max-width: 70%; }
  .movie__section-legend {
    font-weight: 500;
    font-size: 20px;
    color: #727272;
    margin-top: 10px; }
  .movie__title {
    font-family: 'pwl';
    font-size: 6.25em;
    color: #e3a558;
    text-align: center; }
  .movie__pictures__title {
    font-size: 2.5em;
    font-family: 'pwl';
    color: #e3a558; }
  .movie__pictures__plus {
    background-color: #a8a8a8;
    opacity: 0.5; }
    .movie__pictures__plus:hover {
      background-color: #c9c9c9; }
  .movie__pictures__croix {
    text-align: center; }

.don {
  background-color: #e8a274; }
  .don__title {
    font-family: 'pwl';
    font-size: 5em;
    color: white;
    text-align: center; }
  .don__button {
    background-color: white;
    text-align: center;
    border-radius: 0.3125em; }
  .don__link {
    font-size: 1.5625em;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 500;
    font-family: 'roboto';
    color: #727272; }

@media screen and (max-width: 1064px) {
  .movie__title {
    font-size: 5em; }
  .don {
    padding-bottom: 1.875em; }
    .don__title {
      font-size: 3.75em; }
    .don__link {
      font-size: 1.25em; }
    .don__button {
      padding: 0.625em 0;
      max-width: 15.625em; }
    .don__arrow-width {
      max-width: 75%;
      height: auto; }
    .don__arrow-one {
      position: absolute;
      left: 25%;
      top: 130px; }
    .don__arrow-two {
      position: absolute;
      right: 25%;
      top: 130px; } }

@media screen and (max-width: 800px) {
  .movie__content {
    margin: 0 50px; }
  .movie__title-section {
    font-size: 1.875em; }
  .movie__section-title {
    font-size: 1.5625em; }
  .movie__section-text {
    font-size: 1.125em; }
  .movie__section-textWidth {
    font-size: 1.125em; }
  .movie__fiche {
    font-size: 1.125em; }
  .movie__section-legend {
    font-size: 1.125em; }
  .don {
    height: 12.5em; }
    .don__title {
      font-size: 2.5em; }
    .don__arrow-one {
      display: none; }
    .don__arrow-two {
      display: none; }
    .don__button {
      margin: 2.5em auto;
      max-width: 12.5em; }
    .don__link {
      font-size: 0.9375em; } }

@media screen and (max-width: 600px) {
  .movie__title {
    font-size: 3.75em; }
  .movie__title-section {
    font-size: 1.5625em; }
  .movie__section-title {
    font-size: 1.25em; }
  .movie__section-text {
    font-size: 1em; }
  .movie__section-textWidth {
    font-size: 1em; }
  .movie__fiche {
    font-size: 1em; }
  .movie__section-legend {
    font-size: 0.9375em; }
  .movie__row__head {
    padding: 0.3125em 0.9375em 0.3125em 0.3125em; }
  .movie__row__infos {
    font-size: 0.875em; } }

@media screen and (max-width: 450px) {
  .movie__title {
    font-size: 2.5em; }
  .movie__title-section {
    font-size: 1.4375em;
    padding-left: 0; }
  .movie__fiche {
    font-size: 0.875em; }
  .movie__row__infos {
    font-size: 0.75em; } }

.pictures__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.pictures__bloc__text {
  font: 'roboto';
  font-weight: 100;
  font-size: 1.25em; }

.pictures__pagination {
  text-align: center; }

.pictures__link {
  text-decoration: none;
  font-family: 'roboto';
  font-weight: lighter;
  font-size: 1.875em;
  border: 0.0625em solid #f2673f;
  color: #f2673f;
  border-radius: 0.3125em; }
  .pictures__link--active, .pictures__link:hover {
    background-color: #f2673f;
    color: white;
    border: 0.0625em solid white; }

.pictures__etc {
  font-family: 'roboto';
  font-weight: lighter;
  font-size: 1.875em;
  color: #f2673f; }

.actus__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.actus__link {
  text-decoration: none; }
  .actus__link__title {
    word-wrap: break-word;
    font-family: 'pwl';
    color: white;
    font-size: 1.5em;
    transform: skewX(-10deg);
    background-color: #f2673f;
    padding: 20px 0 20px 20px; }
  .actus__link__syno {
    margin: 20px 0 0 20px;
    position: relative;
    top: -90px;
    font-size: 1.25em;
    color: #a8a8a8;
    line-height: 1.5em;
    font-weight: lighter; }
  .actus__link__date {
    font-size: 1.25em;
    font-weight: normal;
    color: white; }
  .actus__link__view {
    color: #f2673f;
    text-decoration: none;
    font-size: 1.5625em;
    border: 0.0625em solid #f2673f; }
    .actus__link__view:hover {
      background-color: #f2673f;
      color: white; }

@media screen and (max-width: 1209px) {
  .actus__title {
    font-size: 5em; } }

@media screen and (max-width: 1064px) {
  .actus {
    margin: 0 50px; }
    .actus__link__container {
      text-align: center; }
    .actus__link__content {
      max-width: 500px; }
    .actus__link__title {
      position: relative;
      right: 0%;
      top: -120px;
      font-size: 1.25em; }
    .actus__link__syno {
      position: relative;
      top: -70px; }
    .actus__link__view {
      position: relative;
      left: 0; } }

@media screen and (max-width: 500px) {
  .actus__title {
    font-size: 2.5em; }
  .actus__link__syno {
    position: relative;
    top: -40px; }
  .actus__link__title {
    font-size: 1em;
    padding: 10px 0 10px 10px; } }

.article__title {
  font-size: 3.75em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.article__infos-article {
  margin-bottom: 40px;
  color: #a8a8a8; }

.article__infos-detail {
  font-size: 16px;
  font-weight: 500;
  color: #f2673f; }
  .article__infos-detail--right {
    margin-right: 20px; }

.article__texte {
  font-size: 1.3125em;
  font-weight: lighter;
  color: #262626;
  padding: 0 50px;
  line-height: 1.4em; }

.article__partie-one__title {
  font-size: 2.666666em;
  font-family: 'pwl';
  color: #e3a558; }

.article__commentaires {
  width: 54.375em;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-left: 10px;
  color: #727272; }

.article__champ-obli {
  color: #e3a558;
  margin-bottom: 20px;
  font-weight: bold; }

.article__asterix {
  color: #e3a558; }

.article__title-commentaire {
  text-align: center;
  font-size: 2.5em;
  padding: 20px 0; }

.article__label {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px; }

.article__button-commentaire {
  border: 2px solid #727272;
  padding: 10px;
  background-color: white;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 5px; }
  .article__button-commentaire:hover {
    background-color: #e3a558;
    border: 2px solid rgba(255, 255, 255, 0);
    color: white; }

.article__input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px; }

.article__area {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px; }

.article__form {
  display: inline-block;
  position: relative;
  top: -12px; }

.article__champ {
  font-size: 1.5625em;
  font-weight: lighter;
  width: 24.2em;
  padding: 0.14em 0; }

.ateliers__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558;
  margin: 1em 0; }

.ateliers__tuto {
  border: 1px solid black;
  padding: 30px;
  margin-bottom: 100px;
  position: relative; }

.ateliers__content {
  display: inline-block; }
  .ateliers__content__image {
    width: 400px;
    height: auto;
    margin-right: 30px; }
  .ateliers__content__title {
    font-family: 'pwl';
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 30px; }

.ateliers__text {
  width: 300px;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  top: -100px; }

.ateliers__link {
  background-color: #6f2317;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px 30px;
  position: absolute;
  bottom: 30px;
  right: 30px; }

/****COMPONENTS****/
/**ABOUT**/
.about__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.about__sous-title {
  font-size: 3.75em;
  font-family: 'pwl';
  text-align: left;
  color: #e3a558; }

.about__texte {
  font-size: 1.875em;
  font-weight: 100; }

.about__partie-one__title {
  font-size: 2em;
  font-family: 'pwl';
  color: #e3a558; }

.about__photos {
  text-align: center; }

.about__info-name {
  font-size: 30px;
  color: #727272; }

.about__info-mail {
  color: #3690c1;
  font-size: 30px;
  text-decoration: underline; }

.about__paragraphe {
  text-align: left;
  vertical-align: top; }

/****COMPONENTS****/
/**CONTACT**/
.contact__title {
  font-size: 6.25em;
  font-family: 'pwl';
  text-align: center;
  color: #e3a558; }

.contact__numero {
  text-align: center;
  margin-top: 100px; }

.contact__type {
  display: inline-block; }

.contact__type + .contact__type {
  margin-left: 200px; }

.contact__name {
  font-size: 30px;
  margin-bottom: 20px; }

.contact__tel {
  font-size: 25px;
  color: #3690c1; }

.contact__form {
  text-align: center; }

.contact__form-detail {
  max-width: 250px;
  margin: 50px 0 30px;
  font-size: 25px;
  padding: 10px; }

.contact__form-message {
  width: 95%; }

.contact__form-detail + .contact__form-detail {
  margin-left: 50px; }

/*# sourceMappingURL=styles.css.map */